Repository ward3107/Souvlaki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,mdx,css,scss,yml,yaml}": ["prettier --write"]
}

chore: add editorconfig and update claude settings
  .claude/settings.local.json
  .editorconfig
Due: prettier --write

fix: resolve ESLint and TypeScript errors
  .claude/settings.local.json
  App.tsx
  BRANCH-WORKFLOW.md
  CHANGELOG.md
  HANDOFF.md
  PWA-TESTING.md
  QUICK-REFERENCE.md
  README.md
  REQUESTS.md
  ROADMAP.md
  SECURITY.md
  WORKFLOW.md
  components/AccessibilityWidget.tsx
  components/CookieBanner.tsx
  components/LegalDocument.tsx
  components/Menu.tsx
  components/OpeningHours.tsx
  constants.ts
  create-icons.js
  index.css
  index.html
  index.tsx
  legal/accessibility-statement.md
  legal/cookie-policy.md
  legal/privacy-policy.md
  legal/terms-of-use.md
  metadata.json
  postcss.config.js
  public/icons/README.md
  public/legal/accessibility-statement.md
  public/legal/privacy-policy.md
  public/legal/terms-of-use.md
  public/site.webmanifest
  src/pwa.ts
  tailwind.config.js
  tsconfig.json
  types.ts
  vite.d.ts
Due: eslint --fix, prettier --write

fix: translate contact section to all languages
  App.tsx
Due: eslint --fix, prettier --write

fix: translate "Authentic" and "Fresh Daily Ingredients" to all languages
  App.tsx
Due: eslint --fix, prettier --write

fix: translate OpeningHours title and "Closed" text to all languages
  components/OpeningHours.tsx
Due: eslint --fix, prettier --write

fix: critical WCAG accessibility improvements
  App.tsx
  components/OpeningHours.tsx
  index.css
Due: eslint --fix, prettier --write

fix: additional WCAG accessibility improvements
  App.tsx
Due: eslint --fix, prettier --write

fix: update Facebook page URLs to correct profile link
  App.tsx
Due: eslint --fix, prettier --write

fix: add reviews section to Facebook "See All Reviews" link
  App.tsx
Due: eslint --fix, prettier --write

seo: add FAQPage structured data and fix Facebook URL in schema
  index.html
Due: none

feat: add SEO summary paragraph in hero section
  App.tsx
Due: eslint --fix, prettier --write

fix: enable natural touch scrolling on mobile devices
  .claude/settings.local.json
  App.tsx
  index.html
Due: eslint --fix, prettier --write

feat: add wrangler.toml for Cloudflare deployment
  wrangler.toml
Due: none

fix: use pages_build_output_dir for Cloudflare Pages
  wrangler.toml
Due: none

style: fix Prettier formatting in App.tsx
  App.tsx
Due: eslint --fix, prettier --write

fix: configure Vite preview server port for Playwright E2E tests
  index.html
  package-lock.json
  vite.config.ts
Due: eslint --fix, prettier --write

fix: add dedicated vitest.config.ts with jsdom environment
  vitest.config.ts
Due: eslint --fix, prettier --write

ci: replace Codecov with GitHub Actions native coverage
  .github/workflows/ci.yml
Due: prettier --write

feat: update builder link to waseemp.vercel.app
  App.tsx
Due: eslint --fix, prettier --write

fix: update PWA manifest for installability
  index.html
  vite.config.ts
Due: eslint --fix, prettier --write

fix: add manifest-src to CSP for PWA installability
  vercel.json
Due: prettier --write

fix: correct manifest values for PWA installability
  vite.config.ts
Due: eslint --fix, prettier --write

fix: let VitePWA inject manifest link automatically
  index.html
Due: none

chore: disable Vercel production deployments
  vercel.json
Due: prettier --write

feat: redirect Vercel traffic to Cloudflare Pages
  vercel.json
Due: prettier --write

feat: add Israeli Amendment 13 (תיקון 13) privacy law compliance
  App.tsx
  components/CookieBanner.tsx
  legal/privacy-policy.md
  legal/terms-of-use.md
  public/legal/privacy-policy.md
  public/legal/terms-of-use.md
Due: eslint --fix, prettier --write

fix: apply WhatsApp privacy notice to all contact links
  App.tsx
Due: eslint --fix, prettier --write

feat: modernize menu + hero with Framer Motion animations
  App.tsx
  components/Menu.tsx
  package-lock.json
  package.json
  vite.config.ts
Due: eslint --fix, prettier --write

feat(hero): video background with poster fallback + reduced-motion
  App.tsx
Due: eslint --fix, prettier --write

feat: cart-based multi-item WhatsApp ordering
  components/Menu.tsx
Due: eslint --fix, prettier --write

chore(ci): set least-privilege GITHUB_TOKEN permissions
  .github/workflows/ci.yml
Due: prettier --write

feat: add quick-rating widget with Google review gating
  components/RatingWidget.tsx
Due: eslint --fix, prettier --write

chore(seo): migrate canonical URLs to souvlaki.pages.dev and document new env vars
  .env.example
  public/legal/privacy-policy.md
  public/legal/terms-of-use.md
  public/robots.txt
  public/sitemap-ar.xml
  public/sitemap-el.xml
  public/sitemap-he.xml
  public/sitemap-ru.xml
  public/sitemap.xml
  public/sitemapindex.xml
Due: prettier --write

feat: design system + motion stack
  components/MagneticButton.tsx
  components/Marquee.tsx
  components/MouseParallax.tsx
  components/Reveal.tsx
  components/hooks/useTilt3D.ts
  index.html
  package-lock.json
  package.json
  src/smoothScroll.ts
  tailwind.config.js
Due: eslint --fix, prettier --write

feat: live Google Reviews + real QR code library
  components/GoogleReviews.tsx
Due: eslint --fix, prettier --write

feat: redesign menu with editorial layout + per-item WhatsApp ordering
  components/Menu.tsx
Due: eslint --fix, prettier --write

chore: harden CI permissions to read-only contents
  .github/workflows/ci.yml
Due: prettier --write

refactor: split App.tsx (2071 -> 210 lines) + audit cleanup
  App.tsx
  components/BackToTopButton.tsx
  components/InstallBanner.tsx
  components/Lightbox.tsx
  components/ShareButton.tsx
  components/WhatsAppFloating.tsx
  components/sections/About.tsx
  components/sections/Contact.tsx
  components/sections/FAQ.tsx
  components/sections/Footer.tsx
  components/sections/Header.tsx
  components/sections/Hero.tsx
  components/sections/InstagramCTA.tsx
  components/sections/InstagramGrid.tsx
  components/sections/MarqueeStrip.tsx
  components/sections/Reviews.tsx
  index.tsx
  utils/i18n.ts
  utils/scroll.ts
Due: eslint --fix, prettier --write

chore(security): remove sharp-heic (malware-listed package name)
  package-lock.json
  package.json
Due: prettier --write
