Repository ward3107/Souvlaki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,mdx,css,scss,yml,yaml}": ["prettier --write"]
}

feat(board): "Board of the week" weekly special on a WebGL 3D plate
  App.tsx
  components/AccessibilityWidget.tsx
  components/Admin.tsx
  components/BoardOfTheWeek.tsx
  components/PlateScene.tsx
  package-lock.json
  package.json
  supabase/migrations/0003_weekly_special.sql
  utils/weeklySpecial.ts
  vite.config.ts
Due: eslint --fix, prettier --write

feat(board): "Board of the week" weekly special on a WebGL 3D plate (#81)
  App.tsx
  components/AccessibilityWidget.tsx
  components/Admin.tsx
  components/BoardOfTheWeek.tsx
  components/PlateScene.tsx
  package-lock.json
  package.json
  supabase/migrations/0003_weekly_special.sql
  utils/weeklySpecial.ts
  vite.config.ts
Due: eslint --fix, prettier --write

fix(csp): allow Supabase in connect-src so admin & live data work in prod
  vercel.json
Due: prettier --write

fix(csp): allow Supabase in connect-src so admin & live data work in prod (#83)
  vercel.json
Due: prettier --write

fix(board): lay the dish photo flat on the plate; stop clipping at edges
  components/PlateScene.tsx
Due: eslint --fix, prettier --write

fix(board): lay the dish photo flat on the plate; stop clipping at edges (#84)
  components/PlateScene.tsx
Due: eslint --fix, prettier --write

feat(board): show the weekly special as a framed photo, drop the 3D plate
  App.tsx
  components/BoardOfTheWeek.tsx
  components/PlateScene.tsx
  package-lock.json
  package.json
  vite.config.ts
Due: eslint --fix, prettier --write

feat(board): show the weekly special as a framed photo, drop the 3D plate (#85)
  App.tsx
  components/BoardOfTheWeek.tsx
  components/PlateScene.tsx
  package-lock.json
  package.json
  vite.config.ts
Due: eslint --fix, prettier --write

fix(routing): serve SPA index.html for all client routes (fix 404 on /menu, /admin, etc.)
  vercel.json
Due: prettier --write

fix(deps): pin tailwindcss back to v3.4.19 to restore the build
  package-lock.json
  package.json
Due: prettier --write

style: prettier --write two files drifted on main (unblocks Lint CI)
  README.md
  components/sections/InstagramGrid.tsx
Due: eslint --fix, prettier --write

fix: restore Vercel builds (Tailwind v3) + stop 404 on /menu and other routes (#96)
  README.md
  components/sections/InstagramGrid.tsx
  package-lock.json
  package.json
  vercel.json
Due: eslint --fix, prettier --write

feat(seo): pre-render a separate crawlable page per language; drop Cloudflare
  App.tsx
  package.json
  public/sitemap-ar.xml
  public/sitemap-el.xml
  public/sitemap-he.xml
  public/sitemap-ru.xml
  public/sitemap.xml
  public/sitemapindex.xml
  scripts/prerender-i18n.mjs
  wrangler.toml
Due: eslint --fix, prettier --write

feat(seo): pre-render a separate crawlable page per language; drop Cloudflare (#97)
  App.tsx
  package.json
  public/sitemap-ar.xml
  public/sitemap-el.xml
  public/sitemap-he.xml
  public/sitemap-ru.xml
  public/sitemap.xml
  public/sitemapindex.xml
  scripts/prerender-i18n.mjs
  wrangler.toml
Due: eslint --fix, prettier --write

seo: align all canonical/SEO URLs to www.greeksouflaki.com
  App.tsx
  README.md
  components/BoardOfTheWeek.tsx
  components/Menu.tsx
  components/QrStickers.tsx
  components/ShareModal.tsx
  index.html
  legal/terms-of-use.md
  public/legal/privacy-policy.md
  public/legal/terms-of-use.md
  public/robots.txt
  public/sitemap.xml
  public/sitemapindex.xml
  scripts/prerender-i18n.mjs
Due: eslint --fix, prettier --write

seo: align all canonical/SEO URLs to www.greeksouflaki.com (#98)
  App.tsx
  README.md
  components/BoardOfTheWeek.tsx
  components/Menu.tsx
  components/QrStickers.tsx
  components/ShareModal.tsx
  index.html
  legal/terms-of-use.md
  public/legal/privacy-policy.md
  public/legal/terms-of-use.md
  public/robots.txt
  public/sitemap.xml
  public/sitemapindex.xml
  scripts/prerender-i18n.mjs
Due: eslint --fix, prettier --write

fix(seo): visually hide the #seo-prerender fallback to stop unstyled flash
  index.html
Due: none

fix(seo): visually hide the #seo-prerender fallback to stop unstyled flash (#100)
  index.html
Due: none

feat(qr): navy Greek-key sticker styles (square frame + logo-style medallion)
  components/QrStickers.tsx
Due: eslint --fix, prettier --write

docs: add real website screenshots to the README
  README.md
  docs/screenshots/home.png
  docs/screenshots/menu.png
  docs/screenshots/mobile-home.png
  docs/screenshots/qr-stickers.png
Due: prettier --write

Claude/feature improvement suggestions 8x7oid (#101)
  README.md
  components/QrStickers.tsx
  docs/screenshots/home.png
  docs/screenshots/menu.png
  docs/screenshots/mobile-home.png
  docs/screenshots/qr-stickers.png
Due: eslint --fix, prettier --write

feat(share): round QR badge and print-ready multilingual menu sign
  components/ShareModal.tsx
Due: eslint --fix, prettier --write

feat(share): round-style QR + printable tabletop sign; add Dependabot auto-merge
  .github/workflows/dependabot-auto-merge.yml
  components/ShareModal.tsx
Due: eslint --fix, prettier --write

Round QR badge + print-ready multilingual menu sign (#114)
  .github/workflows/dependabot-auto-merge.yml
  components/ShareModal.tsx
Due: eslint --fix, prettier --write

chore(deps): bump react-dom to 19.2.8 to match react
  package-lock.json
  package.json
Due: prettier --write

feat(share): add Souvlaki emblem logo to the styled QR
  components/ShareModal.tsx
  public/icons/qr-logo.png
Due: eslint --fix, prettier --write

feat(share): add Souvlaki emblem logo to the styled QR (#116)
  components/ShareModal.tsx
  public/icons/qr-logo.png
Due: eslint --fix, prettier --write

refactor(ingredients): make Fresh Ingredients section coherent with the site
  components/FreshIngredients.tsx
Due: eslint --fix, prettier --write

refactor(menu): split Menu.tsx into a cohesive menu/ module
  components/Menu.tsx
  components/menu/AddOnsList.tsx
  components/menu/Badge.tsx
  components/menu/CartBar.tsx
  components/menu/CartSheet.tsx
  components/menu/MenuCard.tsx
  components/menu/WhatsAppGlyph.tsx
  components/menu/cart.ts
  components/menu/labels.ts
  components/menu/schema.ts
Due: eslint --fix, prettier --write

refactor(admin): split Admin.tsx into a cohesive admin/ module
  components/Admin.tsx
  components/admin/AdminShell.tsx
  components/admin/BuiltInEditor.tsx
  components/admin/DishForm.tsx
  components/admin/DishManager.tsx
  components/admin/LocalAdmin.tsx
  components/admin/OrdersReport.tsx
  components/admin/Overview.tsx
  components/admin/SpecialEditor.tsx
  components/admin/SupabaseAdmin.tsx
  components/admin/TabButton.tsx
  components/admin/constants.ts
  components/admin/dates.ts
  components/admin/dish.ts
Due: eslint --fix, prettier --write

Refactor Admin.tsx and Menu.tsx into cohesive modules (#118)
  components/Admin.tsx
  components/Menu.tsx
  components/admin/AdminShell.tsx
  components/admin/BuiltInEditor.tsx
  components/admin/DishForm.tsx
  components/admin/DishManager.tsx
  components/admin/LocalAdmin.tsx
  components/admin/OrdersReport.tsx
  components/admin/Overview.tsx
  components/admin/SpecialEditor.tsx
  components/admin/SupabaseAdmin.tsx
  components/admin/TabButton.tsx
  components/admin/constants.ts
  components/admin/dates.ts
  components/admin/dish.ts
  components/menu/AddOnsList.tsx
  components/menu/Badge.tsx
  components/menu/CartBar.tsx
  components/menu/CartSheet.tsx
  components/menu/MenuCard.tsx
  components/menu/WhatsAppGlyph.tsx
  components/menu/cart.ts
  components/menu/labels.ts
  components/menu/schema.ts
Due: eslint --fix, prettier --write

fix(admin): keep internal pages out of search + warn on default PIN
  App.tsx
  components/admin/LocalAdmin.tsx
  public/robots.txt
Due: eslint --fix, prettier --write

test(menu): add unit tests for cart/order logic
  test/cart.test.ts
Due: eslint --fix, prettier --write
